pipeline/pipeline_append_setvarible.json
{
	"name": "pipeline_append_setvarible",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "a",
					"value": "90"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "b",
					"value": {
						"value": "@variables('a')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"a": {
				"type": "Array"
			},
			"b": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-25T15:24:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}